* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

H1 {
    text-align: center;
    padding: 20px;
    color: deeppink;
    font-size: 90px;
}
.student-owner {
    font-family: tahoma;
    font-size: 60px;
    width: 50%;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: lightskyblue;
    border: 1px solid black;
    border-radius: 10px;
}